version: '3.8'

services:
  web:
    build: ./app
    env_file:
      - .env
    volumes:
      - ./app:/app
      - static_volume:/app/staticfiles
    expose:
      - 8000
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web

volumes:
  static_volume:
